<html>
<head>
  <title>My Page</title>
</head>
<body>
<form name="myform"  method="POST">
  <div align="center">
    <br><br>
    <input type="text" size="25" placeholder="Enter your email here!">
    <!--<br> <input type="reset" <a href="/pages/aboutme"> <br>-->
  </div>
</form>
</body>
</html>